@model EM.Calc.Web.Models.InputModel
@{
    ViewBag.Title = "Input";
}

<h2>Давайте посчитаем</h2>

@using (Html.BeginForm("Input", "Calc",FormMethod.Post,new {@id = "form" } ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>InputModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Name, Model.States, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Args1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="double">
                @Html.EditorFor(model => model.Args1, "doubles")
                @Html.ValidationMessageFor(model => model.Args1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Посчитать" class="btn btn-default" />
            </div>
        </div>

    </div>
    @Scripts.Render("~/Scripts/Myscripts.js")
}
